@charset "utf-8";
/**
 *  @author yewang(evan.yecn@gmail.com)
 *  @date  2014/02/16
 *  @desc  模板基础样式base.css
 */

/* start reset */
body, h1, h2, h3, h4, h5, h6, p, em, img, q, hr, strong, b, i, dl, dt, dd, ol, ul, li, label, table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

li {list-style: none;}
img {vertical-align: top;}
em, i {font-style: normal;}

html {overflow-y: scroll;}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    color: #000;
	background-color: #fff;
	font: 12px/1.5 "微软雅黑", "宋体",Arial,Helvetica,sans-serif;
}

a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
	outline: none;
}

input, button, select, textarea {
	outline: none;
    margin: 0;
    padding: 0;
    resize: none;
    vertical-align: middle;
    font: 12px/1.5 "宋体",Arial,Helvetica,sans-serif;
}
/* end reset */

/* start public */
.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}

/* end public */
